<!DOCTYPE html>
<html>
  <head>
    <meta lang="ko">
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= busNum %></p>
    <% for(var i = 0; i < targetBusStopArray.length; i++) { %>
        <p> <%= targetBusStopArray[i].busNum %> </p>
    <% } %>
    <p><%= returnBusStop %></p>

    <script src="https://code.jquery.com/jquery-3.1.0.slim.js" integrity="sha256-L6ppAjL6jgtRmfiuigeEE5AwNI2pH/X9IBbPyanJeZw=" crossorigin="anonymous"></script>
  </body>
</html>
